[2022-04-17 18:06] Olshansk commented on #1416
Hey @faddat,

Thanks for taking the time for diving into the codebase to evaluate the feasibility of IBC compatibility. Making Pocket IBC compatible is something I've personally been interested in but haven't had the time to do a deep dive into.

As you correctly pointed out in the statement above, `easily` is the keyword. It makes sense to me at a high level, but I believe the devil is in the det

[2022-04-17 21:25] faddat commented on #1416
Hey I’m glad you like it!

so I’m not **too** familiar yet, but let me tell you more or less what my team and I do, and tell you where I am certain you are right:

* upgrades are terrorism to devs

There I said it :) and it’s totally not only evmos, we had to pare down scope for dig’s upgrade recently for all the reasons you just described.

Export upgrades with a new genesis are somewhat less ter

[2022-04-18 04:33] toing123 commented on #1388
@leezijie How do I get pokt in the test network? I understand that it should be obtained from the faucet(https://faucet.pokt.network/), but I find that the official one can't be used

[2022-04-19 08:07] julycanfly commented on #1388
The URL I used before, and it worked back then. Now there may be a problem with the test network. The test network is very unstable. I suggest you buy the mainnet coin directly

[2022-04-19 16:15] kobrien commented on #1120
any update on this? we would also like to specify separate dir for config

[2022-04-21 12:53] mmartinez commented on #1412
Happened today for me as well:
![image](https://user-images.githubusercontent.com/2624124/164462308-1cee7bf5-49fc-4873-8a86-68a902800060.png)

[2022-04-27 23:56] cthtuf opened #1418 "Getting last block with height=0 doesn't work"
Getting last block with height=0 failed with validation error, but according docs and comments in source code it should works:
[code]

https://github.com/pokt-network/pocket-core/blob/staging/doc/specs/rpc-spec.yaml#L524
[code]

https://github.com/pokt-network/pocket-core/blob/staging/app/query.go#L28
[code]

[2022-04-28 05:21] Amaiyeye opened #1419 "Mainnet fails to sync at block 57562"
I[2022-04-28|05:09:54.635] Initializing pocket core config
I[2022-04-28|05:09:54.645] Initializing ctx cache
I[2022-04-28|05:09:54.645] Initializing pos config
I[2022-04-28|05:09:54.645] Initializing app config
I[2022-04-28|05:09:54.645] Initializing genesis file
I[2022-04-28|05:09:54.645] Initializing Tendermint
I[2022-04-28|05:09:55.788] Starting multiAppConn service                module=proxy

[2022-04-28 13:30] oten91 commented on #1419
If you were not running RC-0.8.2 by block 57561 your data is most likely corrupted, please use the latest snapshot https://pocket-public-blockchain-snapshots.s3-accelerate.us-east-2.amazonaws.com/pokt/pocket-57705.tar
 and make sure to use the latest release https://github.com/pokt-network/pocket-core/releases/tag/RC-0.8.2

[2022-04-28 13:33] oten91 commented on #1402
External chain issue, no actionable from the pocket core side.

[2022-04-28 13:33] #1402 closed, assigned to nobody

[2022-04-28 13:34] oten91 commented on #1387
Fixed on RC-0.8.2

[2022-04-28 13:34] #1387 closed, assigned to nobody

[2022-04-28 13:34] #1367 closed, assigned to nobody

[2022-04-28 13:36] #1230 closed, assigned to nobody

[2022-04-28 13:37] oten91 commented on #1403
External chain issue, no actionable from pocket core side

[2022-04-28 13:37] #1403 closed, assigned to nobody

[2022-04-29 03:49] julycanfly commented on #1407
Improvements have been made since version rc-0.8.2

[2022-04-29 03:49] #1407 closed, assigned to nobody

[2022-05-01 00:01] schattingh opened #1420 "Sort on v1/query/accounttxs RPC endpoint not working"
Version RC-0.8.2

Toggling sort between asc/desc does not seem to alter the order of returned transactions on the `v1/query/accounttxs` RPC endpoint.

To reproduce:

[code]
vs

[code]

In my case, running the two commands above result in the same ascending order of returned transactions

[2022-05-03 04:16] jbroudou opened #1422 "Transactions incorrectly marked with CodeClaimNotFoundError"
Version RC-0.8.2

**Describe the bug**
I'm noticing a number of transactions returned by `query/blocktxs` where the tx_result -> code parameter is 65 indicating a "CodeClaimNotFoundError" and therefore I'm assuming that the rewards have not been assigned to the account. However for all of these occurrences the account's balance has increased by the number proofs for the associated claim, indicatin

[2022-05-04 01:04] DragonDmoney opened #1424 "[FEATURE REQUEST] Add function to check what height Pocket core is fully synced to."
As noted in issue #1390, the `/query/height` can return a different height than the node is fully synced to. Right after block n is created and propagated to the network, the RPC will return the height of n but the state of n-1 *for a brief period after the block is created (15-35 seconds from my observation). I think that an RPC URL similar to `eth_syncing` would be helpful, for getting an accura

[2022-05-04 14:31] iajrz opened #1425 "Persistence Replacement"
We need to allow multiple storage mechanisms to cater to different node runner needs/scenarios. We need to allow to continue running "as usual", run a datastore optimized for speed, or a datastore optimized for space usage.

[2022-05-07 15:00] larryhere opened #1428 "metrics for `pocketcore_service_tokens_earned_for_` is not the amount of token earned"
After reviewing the metrics code, I found that the `pocketcore_service_tokens_earned_for`  counted the number of tokens obtained, which was inconsistent with the amount specified in the document.

The doc:
https://github.com/pokt-network/pocket-core/blob/staging/doc/specs/metrics.md

If we need to count the revenue of nodes, can we add this to metrics?

[2022-05-24 10:44] abdulgig opened #1432 "http status code was not okay: 400, Unable to stake !"
Dears,

I am new here and I am trying to seek assistance. Following is the issue, I am unable get the current block. My node is syncing and the service is running,

[code]
Pocket is running , what is wrong then ?

[code]

Can connect also,

[code]

Other commands work,

[code]

[2022-05-26 07:52] abdulgig commented on #1432
@Olshansk @msmania @luyzdeleon @AusIV , can anybody help please ?

[2022-05-26 14:57] msmania commented on #1432
Seems like this is a bug.  I got the same result.  Currently you need to pass a specific height to the "query block" command, i.e. the return value from the "query height" command.  I sent a PR to fix this.

[2022-05-26 17:11] Olshansk commented on #1432
Thanks @msmania!

[2022-05-27 05:34] abdulgig commented on #1432
Not sure if this is relevant, but I am unable to stake my node also,

NOTE: my_account and my-domain are substituted values

[code]

[code]

[2022-05-27 17:15] msmania commented on #1432
The last argument should be "true" because the non-custodial feature is not enabled yet.  This [doc](https://github.com/pokt-network/pocket-core/blob/staging/doc/guides/changesAndfeatures8.md) may be helpful.

[2022-05-30 07:28] abdulgig commented on #1432
@msmania

I tried with the "true" option, yet I get the error, a different one this time,

[code]

The account does exist,

[code]

[2022-05-30 15:46] msmania commented on #1432
The command looks good.  Maybe your node was not fully synched...?  Could you run `pocket query account a272423e156de5f99a11798deee0f7de3f7f0409` and see if the account's balance is displayed?

[2022-05-30 16:03] abdulgig commented on #1432
@msmania , so yes, it shows null,

[code]

How can I check the sync status ?

Data is already 136 GB

[code]

[2022-05-30 18:00] msmania commented on #1432
Oh, your node is behind.  The easiest way is to get the height of your node by running `pocket query height` and compare it to the latest block at https://poktscan.com/.  If your node is far behind, it might be faster to download a snapshot from https://github.com/pokt-foundation/pocket-snapshotter.

My data directory is 266GB :).

[code]

[2022-05-31 05:22] abdulgig commented on #1432
@msmania Thanks for helping me out !

So yes, the node is 20K blocks behind, there is another issue. The sync process seems to stall.

[code]

The console just shows above !

The node seems to stuck at this height for hours,

[code]

In my config.json, I have the following entries under seeds,

[code]

[2022-06-01 16:53] msmania commented on #1432
It's normal to see `numInPeers=0` in the log.  I can see the same in my node.  Seeds also look good.  Peers will be dynamically updated and cached in config/addrbook.json.

So I'm not sure why your node is stuck, but even if it's not stuck, 44726 is far behind.  It will take days or weeks to catch up.  I would download a snapshot and replace the data directory, that should be much faster.

[2022-06-01 23:50] #1419 closed, assigned to nobody

[2022-06-03 18:10] kibrugetachew opened #1435 "Kibru Getachew"

[2022-06-03 18:10] kibrugetachew commented on #1435
Hi

[2022-06-07 07:13] nodiesBlade opened #1437 "LeanPOKT Proposal & Design Specification"
---
Name: Nodies & Thunderhead
---
**Please explain your change in detail.**
LeanPocket is a large optimization to the Pocket Core’s Client (PCC) by allowing multiple nodes to utilize one full node. Servicers/Validators (node set) can now leverage the same state cache, and blockchain data, and no longer have to validate as many transactions in a block as the node set grows. This reduces the number

[2022-06-07 11:06] tingiris commented on #1437
@PoktBlade So if I understand this, essentially the node sets are simply keys that the servicer can use to associate a with the public key in the request payload. So, all of the node hostnames would point to the same IP address I assume. I'm I understanding this correctly?

[2022-06-07 11:07] abdulgig commented on #1432
Hey guys !

Just wanted to update here, my node is in full sync. However, I am unable to convert it into a validator yet

[code]

I can see my account's balance,

[code]

However, when I run the command, I am unable to stake my node

[code]
I get the following error,

[code]

Tried several times now

[2022-06-07 11:36] abdulgig commented on #1432
After opening firewall, I tried twice and now I got 2 hashes. I don't if these transactions are broadcasted yet !

[code]

[2022-06-07 14:13] nodiesBlade commented on #1437
That sounds about right!

[2022-06-07 14:25] oten91 commented on #1432
Hey @abdulgig

Both txs went through, remember the block times are 15 minutes.

https://explorer.pokt.network/tx/2CF834E6F0DB6B645BD3286F029ABA2E91CB453EE379952A02071FF12FED6C8A

https://explorer.pokt.network/tx/FADDDE1E551C159689B97BA40983CCEC9201097BD8394F627173937F94DA0D26

[2022-06-07 15:37] luyzdeleon commented on #1437
Good job putting this spec draft in short order. Here's some suggestions to finalize this draft:

**1. Design decisions**

- I believe for backwards compatibility reasons, and to be able to conform to the interfaces that several node runners have built automation and tooling for, this should be added as an additional "opt-in" functionality, meaning adding a feature flag to enable the feature. We c

[2022-06-07 16:24] tingiris commented on #1437
Hey @luyzdeleon on the risks associated withthe file descriptior limit. I know you can see the kernel limits in `/proc/sys/fs/file-max` for most linux versions. Is the risk you're concered about that the os/kernel limit would be exceeded or the ulimt set for the user context that the process is using?

[2022-06-07 17:02] nodiesBlade commented on #1437
@tingiris
From what I understand the majority of the FD's being open is on consensus / mempool layer Although, with multiple servicers writing to the evidence cache  on top of additional network requests overhead can also elevate this. I believe we can monitor the # of FD as part of benchmarks to make sure nothing regresses too significantly.

Also @luyzdeleon incorporating your changes, thank you

[2022-06-07 17:32] luyzdeleon commented on #1437
@tingiris It's both, historically we've advised people to up their limits based on different growth stages of the network and optimizations that have been done to the software, but since this potentially could create an unbounded situation I just wanted to surface it to be aware as it has been a problem in the past.

@PoktBlade Glad to be of service!

[2022-06-07 17:41] msmania commented on #1432
Congrats! I can see your node is staked.

Looks like you've opened 8082/tcp.  You can (for security reason, you should) close it now.  The ports you need to open are the service endpoint (443/tcp in your case) and P2P (26656/tcp by default).

[2022-06-07 22:01] #1435 closed

[2022-06-08 00:02] nodiesBlade opened #1439 "Main/Master Branch for latest RC"
I propose we start using the main/master branch to hold the latest RC of Pocket-Core. Currently, we only tag them, which is inconvenient for forks who want to keep up to date on upstream branches.

This is deriving from V0.8.3 https://github.com/pokt-network/pocket-core/pull/1438  that merged in some fixes. I've notice staging is sometimes used for both "main" and actual "staging" purposes and sin

[2022-06-08 00:07] nodiesBlade opened #1440 "GetHostedBlockChains not goroutine safe"
Since the v0.8.2 introduced hot-reloading, when QueryHostedChains is called accesses [GetHostedBlockchains](https://github.com/fiagdao/leanpocket/blob/f26e8ac526f30686dad8ee12828dbbd42c282d7e/x/pocketcore/keeper/chain.go) members without a read lock. This can cause a race condition when hot reload updates the map.

[2022-06-08 02:32] POKT-Discourse commented on #1437
This issue has been mentioned on **Pocket Network Forum**. There might be relevant details there:

https://forum.pokt.network/t/pep-35-the-v0-optimization-leanpocket/3042/33

[2022-06-09 19:16] nodiesBlade commented on #1428
https://github.com/pokt-network/pocket-core/blob/a4546978064f7363cf1afa0bf2626514a590c6d6/x/pocketcore/types/metrics.go#L190 it's because upoktearned isn't being used and it only increments by 1

[2022-06-09 23:52] oten91 commented on #1412
This appears to have stopped after the release of 0.8.X. Can You guys confirm? @mmartinez @breezytm @computa  @schattingh @aidin3000

[2022-06-11 20:25] breezytm commented on #1412
I have not had this issue since v0.8.x implementation.

[2022-06-11 21:05] mmartinez commented on #1412
Same here, no issues with the new version.

[2022-06-13 13:02] #1412 closed, assigned to nobody

[2022-06-13 13:05] oten91 commented on #1418
Fixed on RC-0.8.3

[2022-06-13 13:05] #1418 closed, assigned to nobody

[2022-06-13 13:15] oten91 commented on #1420
We have identified an error on the example on the rpc-spec.yaml,  Please use "order" instead of "sort" on the request.

[2022-06-13 13:19] oten91 opened #1441 "Tendermint Mempool Refinements"
WIP

- [x] Pocket-core
- [x] Tendermint Fork
- [x] Integration Branch

[2022-06-13 13:21] oten91 opened #1442 "Persistence Replacement Bundle"
The IAVL store (Cosmos’ app level storage tree) is the legacy implementation that serves as both the merkle root integrity structure and the general purpose database structure for reads. Though the structure is seemingly efficient at generating merkle roots for the ABCI AppHash, Pocket Network observes a considerable downgrade in performance for historical queries, block processing, and overall di

[2022-06-13 13:23] oten91 opened #1443 "RPC Spec/Docs Review"
WIP

[2022-06-18 10:53] abdulgig commented on #1432
@msmania , @[oten91](https://github.com/oten91)  thanks for the consistent support here !

One question, which address would the minted tokens go to ? It should be validators account address, right ?

[2022-06-18 20:19] msmania commented on #1432
Yes.  Your node's account get reward tokens through a proof transaction.  Chain 0001 is relatively a quiet network (you can see relay amount per chain on https://poktscan.com/).  You need to be patient and keep running the node.

[2022-06-20 20:34] oten91 commented on #1391
Merged on RC-0.8.3

[2022-06-20 20:34] #1391 closed, assigned to nobody

[2022-06-30 16:40] luyzdeleon opened #1446 "End To End regression testing automation"
**Please explain your change in detail.**

An automation solution to run the regression test suite described [here](https://github.com/pokt-network/pocket-core/tree/staging/doc/qa/regression), which would imply the following changes:

1. Move the entire functional test library contained in the [pocket-core-func-tests repo](https://github.com/pokt-network/pocket-core-func-tests) to this repository.

[2022-06-30 19:36] oten91 opened #1447 "Configurable AuthToken Generation"
Currently pocket-core creates a random new AuthToken on start, users would like to have the token creation be configurable so they can reuse the same tokens for all their nodes.

See [InitAuthToken](https://github.com/pokt-network/pocket-core/blob/a4546978064f7363cf1afa0bf2626514a590c6d6/app/config.go#L871)

- [x] Add Config to pocket_config on config.json
- [x] Make token generation / loading bas

[2022-06-30 19:40] oten91 commented on #1432
Closing the Issue as it seems resolved

[2022-06-30 19:40] #1432 closed, assigned to nobody

[2022-07-03 15:51] addiaddiaddi commented on #1447
What would be the benefit of this? What actions require the auth token?

[2022-07-06 09:39] Andrew-Pohl opened #1448 "[CONTRIBUTION PROPOSAL] PIP-22: Stake Weighted Servicer Rewards"
**Please explain your change in detail.**
This change is to enable [PIP22](https://forum.pokt.network/t/pip-22-stake-weighted-servicer-rewards/3101). PIP22 allows for vertical node stacking, it does this by scaling the rewards paid to servicers based on the amount (bin) staked by the servicer.

The changes proposed are as follows:

1. Add new DAO ACL parameters used to control PIP 22

- > **Valida

[2022-07-12 12:59] githubswisschain opened #1450 "Ropsten network"
Hi.
I want to launch ropsten network in pokt node? Where can I find are seeds?

[2022-07-13 14:56] anderScore-Sysop opened #1451 "Problem unstaking a node"
Hi!
I am having problems unstaking a node.
AppVersion: RC-0.8.2

Here is the command I run:
[code]

I read https://github.com/pokt-network/pocket-core/issues/1172 but in the example there the unstake cmd seems to be for an older version.

[2022-07-13 15:55] oten91 commented on #1451
Hi @anderScore-Sysop  the command should look like this :

` pocket nodes unstake <operatorAddr> <fromAddr> <networkID> <fee> <isBefore8.0> [flags]`

In your case and because non-custodial is not enabled your command should be :

pocket nodes unstake (NodeAdress) (NodeAdress) mainnet 10000 true --pwd <PassPhraseOfNode>

Regards

[2022-07-13 17:21] anderScore-Sysop commented on #1451
Thank you so much @oten91!
It worked.

[2022-07-13 17:21] #1451 closed, assigned to nobody

[2022-07-15 08:03] qywang2012 opened #1452 "Unstake node"
**Describe the bug**
I am having problems unstaking a node.
AppVersion: RC-0.8.2

**To Reproduce**
I use the pocket-js(RC-0.9.1) to send the nodeUnstake tx, it cannot work.
https://github.com/pokt-network/pocket-js

Then I use the cli cmd:
pocket nodes unstake [address] [address] mainnet 10000 true

The tx submit success.

My question is:
How long does the node receive the pledged token after it b

[2022-07-15 09:46] jbroudou commented on #1447
+1 on this. Having a token that auto regenerates on every restart limits the opportunity to create useful automation scripts.

[2022-07-15 11:49] oten91 commented on #1452
Hello @qywang2012 see a similar issue https://github.com/pokt-network/pocket-core/issues/1451 .

Unstaking time is 21 days.

To be able to help you further we will need the node address and tx hash of the failed txs.

[2022-07-17 12:50] qywang2012 commented on #1452
Thanks the response!

[2022-07-17 12:50] #1452 closed, assigned to nobody

[2022-07-18 22:05] Shaieb524 commented on #804
i am just have the same problem only when trying to run my golang app (with fx register hooks) as a docker container that connects to a running db container, and it gives this:

[Fx] INVOKE /path/to/api.registerHooks()
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=some address?]

I anybody can help i would appre

[2022-07-20 23:42] jorgecuesta commented on #1447
this help a lot for automation on things like for example control resources of the node and when a threshold is rich, using that token u can for example stop the node. After that your automation tool could start it again.

Other case is to automate things like update chains and/or check chains after an update.

[2022-07-21 00:04] jorgecuesta opened #1454 "Add unconfirmed txs to rpc"
**Please explain your change in detail.**

Expose 2 endpoints that allow user to query unconfirmed transactions, without need to use or understand tendermint layer.

1. List unconfirmed transactions using same pagination used on blocktxs (without height) under current /v1/query endpoints

    e.g. /v1/query/unconfirmed_txs {"page": 1,"per_page": 1000}

    The maximum amount of elements that could

[2022-07-21 00:39] jorgecuesta opened #1455 "New RPC - REST - V2"
**Please explain your change in detail.**

Create a new routes under /v2 for:

* Every existent endpoint will be replicated with:
  * structured and normalized params
  * structured and normalized response
  * standard use for the response codes (200/400/404)
* Add a way to always query "latest" information and return on the response which was that height.
* Add "circulating" to supply (preferred)

[2022-07-21 00:45] jorgecuesta opened #1456 "Health endpoint"
**Please explain your change in detail.**
Add and "status" or "health" endpoint that provide fast results of the state of the node, like for example if is catching up or not, if stake or not, etc.
In this particular case I accept any kind of suggestion or advice, I was thinking to add status information that is not sensitive from tendermint layer that help a node runner or an automation tool to se

[2022-07-21 06:14] nodiesBlade opened #1457 "[BUG REPORT] Updating Evidences doesn't guarantee an atomic write"
**Describe the bug**
With the current implementation of [SetProof](https://github.com/pokt-network/pocket-core/blob/017ae6e86a3b092acd82018b7022f2fb5c3f4624/x/pocketcore/types/cache.go#L405), this results in a race condition where evidences are not written into the cache storage atomically. This can result in evidences overwriting each other whenever concurrent relays are handled, and the node not

[2022-07-31 18:20] nodiesBlade opened #1464 "[RFP/Improvement] Allowing for configurable session block height tolerance"
**Please explain the goal of the RFP.**
Pocket Core should allow for an allowance/tolerance of `n` (configurable) session block difference when validating relays.

**Please provide a justification for your RFP.**

Currently, the client requires that the dispatch nodes (Portal) and servicer nodes be on the same "latest" block height (defintion of latest [here](https://github.com/pokt-network/pocket

[2022-08-11 08:39] Andrew-Pohl opened #1466 "[BUG REPORT] Nodes aren't being jailed for double signing"
**Describe the bug**
When a node get's slashed for double signing it is not being jailed it only get's slashed.

**Expected behavior**
When a node has been identified as committing multiple signatures for the same block it should be slashed and jailed

**Additional context**
I noticed that this was removed over 2.5years ago in[ this commit](https://github.com/pokt-network/pocket-core/commit/864a24

[2022-08-11 08:47] POKT-Discourse commented on #1466
This issue has been mentioned on **Pocket Network Forum**. There might be relevant details there:

https://forum.pokt.network/t/pup-24-increase-slashfractiondoublesign/3352/2

[2022-08-11 18:48] oten91 commented on #1466
Hello @Andrew-Pohl :

-how are you tracking double signings? Usually those events log something that goes like this `"confirmed double sign from x at height y, age of z"` on the info logs.

they are not to be mixed / confused by events that log something like this : `E[2022-08-11|14:35:14.119] Error attempting to add vote                 module=consensus err="Existing vote: Vote{443:6B74EC18049C 6

[2022-08-11 19:25] Andrew-Pohl commented on #1466
Hey @oten91,

instead of reposting it here is @PoktBlade gist of the commit history for block 67200 https://gist.github.com/PoktBlade/78c34c97a015845ad898fba8588b456a

in this commit log you can see multiple entries from the same validator one example is "71A699F14234B800BACD88EA53867C810A104860"

can see all the slashing events for this node https://www.poktscan.com/node/71a699f14234b800bacd88ea5

[2022-08-11 19:49] oten91 commented on #1466
Hey @Andrew-Pohl  is this the correct gist? only see one entry for 71A699F14234B800BACD88EA53867C810A104860 using the search function. Can you confirm or point me to it?

Also wanted to comment that neither double signing (as its usually an offense from the previous block not the current) or non-deterministic signature (seen in the log as validator sending duplicate votes) make the consensus round

[2022-08-11 20:58] Andrew-Pohl commented on #1466
@oten91 Apologies it's this one https://gist.github.com/PoktBlade/2ffb7131a317f26a27fb05718cd69bd0

Can see the tendermint/DuplicateVoteEvidence for

F74DB131709FD55AEA8EC56D22914006802883BB and 71A699F14234B800BACD88EA53867C810A104860

Thanks for clarifying r.e. the delay. Either way this still needs addressing as without jailing incorrectly configured nodes who are consistently double signing in

[2022-08-12 19:21] oten91 commented on #1466
Now i see, yeah thats a standard case of double signing on that particular gist we saw two DuplicateVoteEvidence for the same node because the order of the votes, one submitter saw vote A before vote B and for the other submitter vote B was the first one.

Thankfully tendermint consesus doesn't fork so this is not a big concern. But i personally agree that the penalty for this offense is too light

[2022-08-15 14:54] andrewnguyen22 commented on #1425
Closed in favor of #1442

[2022-08-15 14:54] #1425 closed, assigned to iajrz

[2022-08-17 17:04] Andrew-Pohl commented on #1466
I think it can fork it's just not designed too and is an attack vector, If a validator node signs multiple versions of a block, it is possible that – with enough misbehaving validators – two versions of the blockchain could exist, each with a ⅔ vote. This is the main reason for jailing on double signing to prevent this attack vector

[2022-08-17 19:15] oten91 commented on #1466
@Andrew-Pohl Its a bit more complex than that, Tendermint by design is made to be fork resistant in the sense that it will halt if it detects a fork scenario, avoiding the fork but halting the network. useful blog post to understand scenarios defined by the cosmos team: https://blog.cosmos.network/the-4-classes-of-faults-on-mainnet-bfabfbd2726c

Keep in mind jailing is not immediate, remember that

[2022-08-17 21:48] Andrew-Pohl commented on #1466
Thanks for the clarification makes sense and great article!

[2022-08-18 13:19] blockjoe commented on #1455
I want to make sure this doesn't get lost, mainly because the scope of it right now is pretty broad. I want to go through some of these and see if we can start to massage a proposal(s) out of this because I think there's a lot of valuable feedback here.

These are some initial thoughts about the initial list of points:

       - structured and normalized params

While I see how this could improve

[2022-08-18 18:57] #1441 closed, assigned to oten91

[2022-08-18 18:57] #1401 closed, assigned to oten91

[2022-08-18 18:57] #1448 closed, assigned to Andrew-Pohl

[2022-08-18 18:57] #1447 closed, assigned to oten91

[2022-08-25 18:21] oten91 opened #1469 "LeanPOKT Documentation"
Pending LeanPOKT Documentation

@PoktBlade Please update the CLI docs with command etc. information about how to use Lean Pocket for node runners: https://github.com/pokt-network/pocket-core/tree/staging/doc/specs/cli

[2022-08-25 18:30] oten91 commented on #1469
@PoktBlade This is the issue to track the Documentation PR

[2022-08-30 22:47] taha-abbasi opened #1470 "[CONTRIBUTION PROPOSAL] PEP 11: Bridge to a multi-chain POKT - Ferrum Network Bridge Module and Fee Distribution Module Functionality"
# Please explain your change in detail.
# PEP 11: Bridge to a multi-chain POKT - Ferrum Network Bridge Module and Fee Distribution Module Functionality

See detailed description in [PEP 11: Bridge to a multi-chain POKT](https://forum.pokt.network/t/pep-11-bridge-to-a-multi-chain-pokt/1131) `approved`
Submitted [PIP: Bridge to a multi-chain POKT - Ferrum Network Bridge Module and Fee Distribution M

[2022-08-30 22:49] POKT-Discourse commented on #1470
This issue has been mentioned on **Pocket Network Forum**. There might be relevant details there:

https://forum.pokt.network/t/bridge-to-a-multi-chain-pokt-ferrum-network-bridge-module-and-fee-distribution-module-functionality/3427/1

[2022-09-05 23:10] jorgecuesta opened #1473 "Stop RPC does not return success code."
**Describe the bug**
/v1/private/stop endpoint does not return a response code.

https://github.com/pokt-network/pocket-core/blob/staging/app/cmd/rpc/client.go#L135

**To Reproduce**
Steps to reproduce the behavior:

1. Start a Node
2. Call /v1/private/stop with authtoken
3. Never get the result code

**Expected behavior**
Return an error if someone otherwise has an empty body with a 200 code.

[2022-09-12 20:03] jessicadaugherty opened #1474 "Beta-0.9.1 Feature Flag"
# Objective
Allow pocket-core to reproduce the behavior of omitting rewards for a subset of nodes (from this point on "the undesired behavior") when the non-custodial flag was turned on, while also allowing pocket-core to have the behavior we want for "Non-Custodial".

There are several ways to achieve this; letting the original flag preserve its undesired behavior and creating a new flag for the

[2022-09-12 20:04] bolisteward opened #1475 "cannot read config file into json."
Hi, I was creating the config.json and later I get an error about: cannot read config file into json: unexpected end of JSON input.

So, I can't use it to create accounts, and other thing with the pocket command like pocket accounts list.

[2022-09-14 15:28] Olshansk commented on #1416
@faddat

**Question:** Since IBC is just an interface, do you know of any Golang projects that implemented it outside of Cosmos?

**Idea:** I was thinking of putting opening up a research item for V1 where we could scope (design, write interface, prepare, implement, test, etc...) out the work necessary for IBC integration.

**Reasoning:** My understanding (per your original comment) is that the Co

[2022-09-21 20:30] iajrz commented on #1474
Fleshing out the alternatives we have for the historical replay of the NC issue (part of this is documented [here](https://github.com/pokt-network/pocket-core/pull/1476#issuecomment-1247376270), I'm aiming to distill pros and cons here).

The alternatives to compare are these:
- We can do as it's done in #1476 and we've done it before (from now on **Classical Style**)
- We can create a flag for th

[2022-09-22 17:52] Olshansk commented on #1474
@iajrz Thank you for the clear outline.

**tl;dr After reading this I left a comment and approved https://github.com/pokt-network/pocket-core/pull/1476#pullrequestreview-1117458974.**

My opinion is, given:

1. We want to ship AC ASAP
2. The classic approach is slow/clumsy, but is simple, proven and tested.
3. Because of the urgency of (1) and the benefit of (2), I say we go with this approach.

T

[2022-09-22 17:57] Olshansk commented on #1474
@iajrz  Also, if we ship this (clumsy and hard-to-test approach) and implement the other one in the future, would it not technically be a consensus-breaking change?

[2022-09-22 18:44] iajrz commented on #1474
Both are consensus breaking: both imply introducing a new behavior, the working-as-intended NC.

[2022-09-22 18:50] Olshansk commented on #1474
Yea, my question was moreso:

0. Current chain
1. Implement the "classic approach" -> consensus breaking relative to (0)
2. Implement the "new approach" -> is this still consensus-breaking relative to (1)?

[2022-09-22 21:37] iajrz commented on #1474
Ah, I understand. Yes, they are mutually incompatible. We can't swap out implementations of the fix.

[2022-09-22 21:37] iajrz commented on #1474
We have chosen the classic approach~! This issue can serve as a reference for the future if we ever need to amend the behavior of a network-wide flag in v0 or v1.

Thank you everybody for weighing in!

[2022-09-22 21:37] #1474 closed, assigned to andrewnguyen22

[2022-09-22 21:42] Olshansk commented on #1474
Thank you @iajrz for outlining the approaches & tradeoffs so clearly!

[2022-09-23 07:02] nodiesBlade opened #1477 "Increasing Validator Security through Delegation and Other Ideas"
**Please explain the goal of the RFP.**

The goal of this proposal is to increase validator security through validator delegation, similiar to [CosmosHub delegators](https://hub.cosmos.network/main/delegators/delegator-faq.html) or [Nano representatives](https://docs.nano.org/running-a-node/voting-as-a-representative/). This allows servicers to delegate their POKT staked to be reflected in a singl

[2022-09-23 07:19] POKT-Discourse commented on #1477
This issue has been mentioned on **Pocket Network Forum**. There might be relevant details there:

https://forum.pokt.network/t/pip-24-transferstake/3359/43

[2022-09-23 17:48] bvanderlugt opened #1478 "[BUG REPORT] Pocket nodes getting stuck during sync"
**Describe the bug**
The node runner community is reporting stuck nodes. Also, on restart the db is corrupt and will not sync

**To Reproduce**
Not sure how to repro. Node runners are reporting the chain stopped syncing around block 71479, also 68389
.
**Expected behavior**
Pocket nodes should stay syncd

**Screenshots**

Snippets from Pocket Network #node-runners chat:

[code]

[code]

[code]

**

[2022-09-23 18:20] Olshansk commented on #1478
@oten91 Do you have any insight on:
1. Why this happens?
2. How to avoid it in the past?
3. Workarounds in the meantime?

[2022-09-23 19:23] oten91 commented on #1478
1- Hey , Will try to summarize what I observed yesterday and some anecdotal information.

- Around the time of the block 71479 a large node runner suddenly got some nodes offline taking around 9% of the voting power mid round  (around the enterprecommit phase).

- This last part seem to have created a problem for a large number of nodes  returning this error :
[code]

- The error points out to a M

[2022-09-24 00:12] tingiris commented on #1478
@oten91 I assume by "The current reality is that the existence of LeanPOKT and the careless use of it, makes it even harder for us to put barriers to avoid this kind of scenarios." - you mean that some node runners are using LeanPOKT to run a lot of validators on the same machine. Is that correct? Also, is it possible to identify the validators that suddenly went offline?

[2022-09-25 01:45] POKT-Discourse commented on #1477
This issue has been mentioned on **Pocket Network Forum**. There might be relevant details there:

https://forum.pokt.network/t/revisiting-the-dao-structure/3402/18

[2022-09-25 20:42] Olshansk commented on #1478
@oten91 Thank you for the detailed answer and explanation.

I have a few general questions to increase my personal understanding as someone who has spent less time working with the cosmo's implementation of tendermint BFT.

Q1: Does this mean the data dir gets irreversibly corrupted by uncommitted blocks?

Q2: Is this a result of the fact that our Tendermint fork is 2 years old or is it still the

[2022-09-26 18:38] oten91 commented on #1478
Answering here :

Sadly yes, the block is not processed by the node but is stored. Modifying the expected apphash, after that happens a rollback is needed for the node to  "forget" about the last round information as he was not expecting a block without all the required signatures (+2/3)

In this case for the stuck nodes the majority was wrong and this would have created a fork in other types of c

[2022-09-28 14:01] LXHLeaner opened #1479 "mempool is full"
What is the meaning of "mempool is full: number of txs 9000 (max: 9000), total txs bytes 7740305 (max: 1073741824)" ? how to deal with it?

[2022-10-01 14:44] #1470 closed, assigned to nobody

[2022-10-02 23:35] #1440 closed, assigned to nobody

[2022-10-03 22:07] nodiesBlade commented on #1478
@oten91
Any chance this is a related issue? https://github.com/tendermint/tendermint/issues/5617

[2022-10-04 01:09] jessicadaugherty opened #1480 "[RPC] Add Rewards Endpoint"
**Please explain the goal of the RFP.**

Currently there are no 100% accurate sources of reward information for the Pocket protocol. We have been trying to build get our internal indexer to be 100% accurate for months, to no avail. Its also difficult because of the lack of documentation and dev support from protocol.

Pocket validators already do the exact calculation to keep track of the state. I

[2022-10-06 14:25] iajrz opened #1482 "Automated e2e Testing"
This proposal suggests adding an in-repo automated suite of e2e tests that can be expanded upon and help reduce the effort needed to increase the confidence of a specific release.

**Goals**
- Support the tests from [the functional tests repo](https://github.com/pokt-network/pocket-core-func-tests).
- Enable the creation of new tests
- Reduce the time necessary to run tests in the release cycle

*

[2022-10-12 16:29] jorgecuesta opened #1484 "Avoid http.Client recreation on every relay"
**Please explain your change in detail.**
Create a single HTTP client that will be used to call chains, using the best tunning performance settings for it based on a bit of research (google it) about how to speed up and reduce open files in Golang http.Client

**Please provide a justification for your change.**
Every time a relay is received on the background of that process, a new http.Client cre

[2022-10-18 20:42] jessicadaugherty commented on #1469
Requesting updates to the CLI specification document here: https://github.com/pokt-network/pocket-core/tree/staging/doc/specs/cli

Keep us posted @PoktBlade and let us know if you have any questions or need more info!

[2022-10-19 22:05] #1477 closed, assigned to nobody

[2022-10-21 19:43] jessicadaugherty opened #1486 "[Automated E2E Testing] Network Launcher"
## Objective

As part of #1482 we need to build a Network Launcher containing Pocket Client, Pocket Server, and Network Configurations to be included in the E2E automated testing suite

## Goals

- Compile pocket-core, establish datadirs for all the defined nodes, and start the network with Network Launcher
- Define a genesis file and node configurations, and hold the private keys for the actors o

[2022-10-25 14:45] nodiesBlade commented on #1469
https://github.com/pokt-network/pocket-core/pull/1488 done

[2022-10-31 21:06] jessicadaugherty opened #1491 "[Automated E2E Testing] Automate Tests"
## Objective

As part of #1482 we need to create steps for and automate the test scenarios that were identified as part of E2E testing discovery.

## Goals

- Align test scenarios to steps that maintain the desired state

## Deliverable

- Finalize scenarios and define steps between them
- Design the state based on the steps created between scenarios

## Non-goals / Non-deliverables

- Adding more

[2022-10-31 22:23] jessicadaugherty opened #1493 "[SPIKE] E2E QA Handoff"
- Develop a workshop to handoff the E2E testing suite to QA that covers:
   - How to setup the E2E testing suite w/ commands
   - How to update scenarios
   - Examples of one and done scenarios
   - Updating events and using them with ongoing scenarios

[2022-11-02 19:57] jessicadaugherty opened #1495 "[Stuck Nodes] Rollback Tool"
## Objective

Currently service and validator nodes can get stuck due to bad data which can result in further stuck nodes or even chain halts. The current recovery process is time consuming so nodes need an easier way to recover all or part of a database to a previous state.

## Origin Document

[Stuck Nodes Planning](https://www.notion.so/pocketnetwork/Stuck-Nodes-Mitigation-Planning-5ae024fd9662

[2022-11-04 08:56] mayong82 opened #1496 "Node cannot synchronize normally, seed problem"
Set up the node according to the official document, and the blockchain data cannot be synchronized normally after the node is started
The log prompt information is as follows:

I[2022-11-04|16:50:50.942] Replay: Timeout                              module=consensus height=57560 round=0 step=RoundStepPropose dur=2m0s
I[2022-11-04|16:50:50.942] Replay: New Step                             module=con

[2022-11-08 21:05] jessicadaugherty opened #1497 "[Guardrails] Data Collection Automation - Merkle Sum Index Tree"
## Objective

To measure the efficacy of pocket-score scalability efforts, we should automate the collection of key data points to inform us on the impacts of changes in controlled and isolated environments. Bonus: classify service.

## Origin Document

[Guardrails Projects](https://docs.google.com/document/d/1uBomaVieGAjsyHeqSlwmqOyPOln1CemVlWXZjQXUMRY/edit#heading=h.h125pd3bsv3a)

[Guardrails Re

[2022-11-13 18:03] nodiesBlade opened #1499 "[REQUEST FOR PROPOSALS] Allow changing the output address"
**Please explain the goal of the RFP.**

Allow users to change their non-custodial wallet address

**Please provide a justification for your RFP.**

Couple reasons

- Non custodial was designed back in 2021 where upstaking (per PIP-22) did not exist. Legacy accounts cannot upstake without deciding on whether they want to be non custodial or custodial **forever**. This was not a planned side effect

[2022-11-16 23:30] jessicadaugherty opened #1501 "[Lean Pocket] Make setvalidators compatible with setvalidator"
## Objective

The startup code for LeanPOKT is missing a combination of factors that makes the node run with no errors and no validator.

To reproduce, you'd have to enable lean pokt in the config, `set-validator`, then `start`.

The line responsible for this is [here](https://github.com/pokt-network/pocket-core/pull/1463/files#diff-58d30a8f2295b237d95073d1d71e6ae4fea517402788c76c82869e5fbb34786aR

[2022-11-22 21:52] #1454 closed, assigned to jorgecuesta

[2022-11-23 03:26] jessicadaugherty commented on #1497
Hey @iajrz! Question for you: at what interval should this data be collected (e.g. hourly, daily?)

[2022-11-23 15:24] #1501 closed, assigned to iajrz

[2022-11-28 14:19] jessicadaugherty opened #1503 "[Guardrails] Data Collection - Block Size"
## Objective

To measure the efficacy of pocket-score scalability efforts, we should experiment with different block sizes against standard node configurations to understand the impact of increasing block size on how many transactions can be processed in a block.

## Origin Document

[Guardrails Projects](https://docs.google.com/document/d/1uBomaVieGAjsyHeqSlwmqOyPOln1CemVlWXZjQXUMRY/edit#heading=

[2022-11-28 15:01] jessicadaugherty opened #1504 "[Documentation] V0 Knowledge Transfers"
## Objective

Disseminate V0 knowledge to the broader protocol team.

## Origin Document

[Knowledge Transfer Requests](https://www.notion.so/pocketnetwork/Protocol-Team-83ea53817a944b99a6b5ec2d366a3b57)

## Goal

- Document key V0 functionality to present to the team and reference that covers:
   - Forcing Tendermint into specific states
   - Triaging corrupted DBs
   - Persistence Replacement Re

[2022-11-28 15:27] jessicadaugherty commented on #1504
Presentations: https://drive.google.com/drive/folders/1t-t0n7uMyvx-wBraDWBKVRLh532ZfD-c

[2022-11-28 16:49] jessicadaugherty commented on #1495
Not playing nicely with codebase ATM. Refactoring for a future release and moving to backlog.

[2022-11-28 16:59] jessicadaugherty opened #1505 "[SPIKE][Consensus] ProposalBlock Bloat Reduction"
## Objective

Tendermint stores invalid txs which can result in block bloat. Bloat can be reduced by blocking/removing invalid txs from chain but kept in memory.

## Origin Document

[Overview of Replay Events](https://www.notion.so/pocketnetwork/2022-03-31-f0811f6cdfa4410488d2ac097a0ba430)

## Goal

- Reduce bloat block from invalid txs
- Prevent rewards being produced for invalid txs
- Store inv

[2022-11-30 18:53] jessicadaugherty commented on #1505
This needs to be researched to determine feasibility and outline risks before being a dev candidate